<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49FAE1541DBF7F7D00D825AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FAE16D1DBF7F7D00D825AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FAE1781DBF7F7D00D825AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
